MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=eca_feedback_portal
OTP_TTL_MINUTES=10
SESSION_TTL_HOURS=12
OTP_BYPASS_CODE=
N8N_OTP_WEBHOOK_URL=
